= form_tag({action: :import}, multipart: true) do
  .form-group.required
    = label_tag :file
    = file_field_tag 'file'
  .form-actions.clearfix.m-t-lg
    .pull-left
      = submit_tag('upload', id: 'upload_file', class: 'btn btn-primary')