development:
  <<: *default
  database: clarkreward_development
  username: clarkreward
  password: xe#x9Zq}<F
  host: localhost
  pool: 15

test:
  <<: *default
  database: clarkreward_test
  username: clarkreward
  password: xe#x9Zq}<F
  host: localhost
  pool: 15