development:
  <<: *default
  database: points_reward_development
  username: points_reward
  password: xe#x9Zq}<F
  host: localhost
  pool: 15

test:
  <<: *default
  database: points_reward_test
  username: points_reward
  password: xe#x9Zq}<F
  host: localhost
  pool: 15