// Header HTML
.navbar-header
  - if user_signed_in?
    %ul.nav.navbar-nav.navbar-right
      %li.nav-item.dropdown
        = link_to('Logout', destroy_user_session_path, method: :delete , class: 'btn btn-primary')
